body {
    /* font-family: 'Times New Roman',Times, serif; */
    line-height: 1.4;
    font-size: 16px;
    padding: 0 10px;
    margin: 50px auto;
    max-width: 650px;
}
#maincontent {
    max-width: 42em;
    margin: 15px auto;
    margin-top: 70px;
}
.link-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    list-style-type: none;
}
.link-item {
    display: flex;
    align-items: center;
    transition: all 0.3s;
    text-decoration: underline;
    color: inherit;

}
.link-item:hover {
    color: #1a202c;
}
.link-text {
    margin-left: 0.5rem;
}


